:root {
  --hacktoberfest-background: radial-gradient(circle, #3241a6 0, #202a6b 120%);
  --hacktoberfest-text: #ff625f;
  --hacktoberfest-center-width: calc(100% - 600px);
  --hacktoberfest-center-margin: 0 300px;
}
@media (max-width: 800px) {
  :root {
    --hacktoberfest-center-width: calc(100% - 20px);
    --hacktoberfest-center-margin: 0 10px;
  }
  .logo {
    width: 90%;
  }
}

@font-face {
    font-family: hacktoberfest;
    src: url(https://use.typekit.net/af/26c4cd/00000000000000003b9ad1b1/27/l?subset_id=2&fvd=n7&v=3) format("woff2");
}

body {
  margin: 0;
  font-family: hacktoberfest;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: var(--hacktoberfest-background);
}

header img {
  margin: 0 auto;
}
header .subtitle {
  text-align: center;
  color: #ffffff;
}

pre {
  width: 90%;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

/* CONTENT */
.content {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a1a1a1' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.content .main-title {
  text-align: center;
  margin: 0;
  padding: 50px 0;
}

.content .cheat-sheet {
  width: var(--hacktoberfest-center-width);
  margin: var(--hacktoberfest-center-margin);
}
.content .cheat-sheet .box {
  width: calc(100% - 30px);
  min-height: 100px;
  margin-bottom: 30px;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: ease .3s;
  cursor: pointer;
  background-color: #ffffff;
}
.content .cheat-sheet .box:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.content .cheat-sheet .title {
  color: var(--hacktoberfest-text);
}
.content .cheat-sheet .box .tooltip {
  transition: ease .3s;
  float: right;
  opacity: 0;
  font-size: 16px;
  line-height: 4;
  background: #f5f5f5;
  padding: 0 5%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.content .cheat-sheet .box:hover .tooltip {
  opacity: 0.5;
}


.content .separator {
  width: 100%;
  height: 50px;
  background: var(--hacktoberfest-text);
}

.content .contributors {
  width: var(--hacktoberfest-center-width);
  margin: var(--hacktoberfest-center-margin);
}
.content .contributors ul {
  width: 100%;
  min-height: 400px;
  list-style: none;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
.content .contributors ul li {
  color: var(--hacktoberfest-text);
  font-size: 20px;
  margin: 10px 0;
}

footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: var(--hacktoberfest-background);
}
